* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 3px;
}

/* .homePage {
    background-image: url('https://images.unsplash.com/photo-1631603090989-93f9ef6f9d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    filter: hue-rotate(687deg);
} */

.menu {
    margin-right: 60px;
}

@keyframes liAnimation {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

li:hover {
    animation: liAnimation 0.5s ease-in-out;
}

@media only screen and (max-width: 767px) {
    /* CSS rules for mobile devices */

    body {
        background-color: #f5f5f5;
        /* Set your desired background color */
    }
}